# Add yaml extension to section "Languages" in GitHub repository
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
*.sh linguist-detectable=true
*.tf linguist-detectable=true
*.rb linguist-detectable=true
